    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Elevators</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active">Dashboard</li>
                        <li class="breadcrumb-item">@Html.ActionLink("Intervention", "intervention_form")</li>
                     
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <div id="elevatortest"></div>
    <header class="text-center mb-60 mt-40">
        <br />
        <h2>Your Elevators</h2>
        <hr />
    </header>

    <div class="container">
        <table id="tableElev" class="table table-stripped">
            <thead class="bg-primary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Column ID</th>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Elevator Model</th>
                    <th scope="col">Elevator Type</th>
                    <th scope="col">Elevator Status</th>
                    <th scope="col">Date of Commissioning</th>
                    <th scope="col">Date of Last Inspection</th>
                    <th scope="col">Certificate of Inspection</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Updated At</th>
                </tr>
            </thead>
            <tbody id="elevatorsData">
            </tbody>

        </table>
    </div>


    <script src="~/js/ajax-calls.js"></script>
